.settings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* padding: 2rem 3rem; */
  padding: 2rem 15vw;
  background: #eeeeff;
}
.settings .header {
  font-size: 2.4rem;
  margin-bottom: 15px;
  font-weight: normal;
}

.settings-row {
  display: flex;
}
.settings-row .list-menu {
  flex: 0 0 25%;
}

@media only screen and (max-width: 1400px) {
  .settings {
    padding: 2rem 10vw;
  }
}
@media only screen and (max-width: 1200px) {
  .settings {
    padding: 2rem 7vw;
  }
}

@media only screen and (max-width: 900px) {
  .settings {
    padding: 2rem;
  }
  .settings-row {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .settings {
    padding: 1rem;
  }
}
