.message-field {
  padding: 0.5rem;
  border-radius: 5px;
}
.message-field.error {
  background-color: #f8d7da;
  color: #842029;
}
.message-field.info {
  background-color: #d1ecf1;
  color: #0e616e;
}
