.timeline {
  width: 500px;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(44, 0, 100, 0.5) 0%,
    rgba(227, 181, 164, 0.5) 100%
  );
}

.timeline-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.timeline-header .type {
  margin-right: 0.5rem;
  font-weight: bold;
}

.timeline-body {
  padding: 0.5rem;
  flex-grow: 1;
  overflow: overlay;
}
