.dashboardStreams {
  height: calc(100vh - 60px);
  width: calc(100vw - 80px);
  white-space: nowrap;
}

.streamswrapper {
  overflow-x: scroll;
  height: 100%;
}

li.stream[data-rbd-drag-handle-context-id="0"] {
  cursor: initial;
}