.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
}

.card-body {
  padding: 1rem;
}

.card-header {
  font-size: 1.5rem;
  padding: 0.7rem 1rem;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.card-header.no-border {
  border-bottom: none;
}

.card-footer {
  padding: 0.7rem 1rem;
  margin-left: auto;
}
