.settings .edit {
  display: flex;
  width: 100%;
}
.settings .p-info {
  width: 67%;
}

.settings .p-avatar {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings .p-avatar img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
  .settings .edit {
    flex-direction: column-reverse;
  }
  .settings .p-info {
    width: 100%;
  }
  .settings .p-avatar {
    width: 100%;
  }
}
