.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.9rem;
  font-size: 1.5rem;
  z-index: 100;
}
.navbar.normal {
  position: initial;
  background-color: #2c0064;
}

.navbar-items {
  display: flex;
  align-items: center;
  margin: 0;
}
ul {
  list-style: none;
}
.navbar .item {
  padding-left: 2rem;
}
.navbar .item a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 1rem 3rem;
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 1rem 1rem;
  }
}
