.password-reset-request {
  position: relative;
  width: 33vw;
}
.password-reset-request .header {
  font-size: 2.7rem;
}

.password-reset-request .messages {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
}

@media only screen and (max-width: 1200px) {
  .password-reset-request {
    width: 40vw;
  }
}

@media only screen and (max-width: 900px) {
  .password-reset-request {
    margin: 0 auto;
    width: 60vw;
  }
}
@media only screen and (max-width: 600px) {
  .password-reset-request {
    width: 80vw;
  }
}
