.login {
  width: 33vw;
  max-width: 500px;
  position: relative;
}
.login .header {
  font-size: 4rem;
  padding-bottom: 50px;
}

.login .errors {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
}

@media only screen and (max-width: 1200px) {
  .login {
    width: 40vw;
  }
}

@media only screen and (max-width: 900px) {
  .login {
    margin: 0 auto;
    width: 60vw;
  }
}
@media only screen and (max-width: 600px) {
  .login {
    width: 80vw;
  }
}
